<div class="card">
  <div class="card-content card-padding">
    <div class="row" id="colorpicker">
      <div class="col s1 m1">
        <input type="text" id="highred" placeholder="R" maxlength="3">
        <div class="sliders"></div>
        <input type="text" id="lowred" class="low-color" placeholder="R" maxlength="3">
      </div>

      <div class="col s1 m1">
        <input type="text" id="highgreen" placeholder="G" maxlength="3">
        <div class="sliders"></div>
        <input type="text" id="lowgreen" class="low-color" placeholder="G" maxlength="3">
      </div>

      <div class="col s1 m1">
        <input type="text" id="highblue" placeholder="B" maxlength="3">
        <div class="sliders"></div>
        <input type="text" id="lowblue" class="low-color" placeholder="B" maxlength="3">
      </div>

      <div class="col s1 m1">
        <input type="text" id="highalpha" placeholder="A" maxlength="3">
        <div class="sliders"></div>
        <input type="text" id="lowalpha" class="low-color" placeholder="A" maxlength="3">
      </div>

      <div class="col s8 m8 center-align">
        <div class="fill-controls">
          <div class="col picker">
            <label>Fill matches with:</label>
            <div id="matches-color" class="filling-color"></div>
          </div>
          <div class="col switch-control">
            <span>On</span>
            <div class="switch vertical-switch">
              <label>
                <input type="checkbox" id="match-switch">
                <span class="lever"></span>
              </label>
            </div>
            <span>Off</span>
          </div>
        </div>

        <div class="fill-controls">
          <div class="col picker">
            <label>Fill background with:</label>
            <div id="bg-color" class="filling-color"></div>
          </div>
          <div class="col switch-control">
            <span>On</span>
            <div class="switch vertical-switch">
              <label>
                <input type="checkbox" id="bg-switch">
                <span class="lever"></span>
              </label>
            </div>
            <span>Off</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
