<div class="card">
  <div class="card-content card-padding">
    <div id="colorpicker">
      <div class="control-row">
        <input type="text" id="lowred" class="low-color inl-bl" placeholder="R" maxlength="3">
        <div class="sliders inl-bl"></div>
        <input type="text" id="highred" class="inl-bl" placeholder="R" maxlength="3">
      </div>

      <div class="control-row">
        <input type="text" id="lowgreen" class="low-color inl-bl" placeholder="G" maxlength="3">
        <div class="sliders inl-bl"></div>
        <input type="text" id="highgreen" class="inl-bl" placeholder="G" maxlength="3">
      </div>

      <div class="control-row">
        <input type="text" id="lowblue" class="low-color inl-bl" placeholder="B" maxlength="3">
        <div class="sliders inl-bl"></div>
        <input type="text" id="highblue" class="inl-bl" placeholder="B" maxlength="3">
      </div>

      <div class="control-row">
        <input type="text" id="lowalpha" class="low-color inl-bl" placeholder="A" maxlength="3">
        <div class="sliders inl-bl"></div>
        <input type="text" id="highalpha" class="inl-bl" placeholder="A" maxlength="3">
      </div>

    </div>
  </div>
</div>
