<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Color Segmentation</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport"
          content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes" />

    <!-- Google Fonts -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/bower_components/sweetalert/dist/sweetalert.css" />
    <link rel="stylesheet" href="/bower_components/materialize/dist/css/materialize.css" />
    <link rel="stylesheet" href="/bower_components/nouislider/distribute/nouislider.min.css" />
    <link rel="stylesheet" href="/bower_components/materialize-colorpicker/dist/css/materialize-colorpicker.min.css" />
    <link rel="stylesheet" href="/stylesheets/ghpages-materialize.css" />
    <link rel="stylesheet" href="/stylesheets/controls.css" />
    <link rel="stylesheet" href="/stylesheets/custom.css" />
    <link rel="stylesheet" href="/stylesheets/loader.css" />

  </head>
  <body class="lighten grey lighten-4 full-body">

  <header>
    <nav class="teal">
      <div class="nav-wrapper">

        <a href="#" data-activates="mobile-demo" class="button-collapse">
          <i class="material-icons">settings</i>
        </a>
        <a href="#" data-activates="nav-mobile" class="button-collapse right">
          <i class="material-icons mobile-icon">equalizer</i>
        </a>

        <ul class="hide-on-med-and-down">
          <li class="left">
            <a>
            <div class="file-field input-field">
              <i class="material-icons left">backup</i>
              <input id="input-files" type="file" multiple accept="image/*">
              <div class="file-path-wrapper">
                <input id="input-legend" class="file-path validate" type="text" placeholder="UPLOAD FILES">
              </div>
            </div>
          </a>
          </li>
          <li id="clear" class="right"><a href="#"><i class="material-icons left">clear</i>CLEAR</a></li>
          <li id="convert" class="right"><a href="#"><i class="material-icons left">loop</i>CONVERT</a></li>
        </ul>

        <ul class="side-nav" id="mobile-demo">
          <li>
            <a>
            <div class="file-field input-field">
              <i class="material-icons left">backup</i>
              <input id="input-files" type="file" multiple accept="image/*">
              <div class="file-path-wrapper">
                <input id="input-legend" class="file-path validate" type="text" placeholder="UPLOAD">
              </div>
            </div>
          </a>
          </li>
          <li id="clear"><a href="#"><i class="material-icons left">clear</i>CLEAR</a></li>
          <li id="convert"><a href="#"><i class="material-icons left">loop</i>CONVERT</a></li>
        </ul>

      </div>
    </nav>

    <ul id="nav-mobile" class="side-nav fixed" style="width: 322px;">
      <li class="">
        <img class="brand-logo center-img" width="100" src="/images/logo.png">
      </li>
      <li class="center-align">
        Color Segmentation
      </li>
      <li class="bold">

        <div class="inl-bl">
          Fill matches with:
          <div id="matches-color"></div>
          <div class="switch center-align">
            <label>
              Off
              <input type="checkbox" id="matches-switch">
              <span class="lever"></span>
              On
            </label>
          </div>
        </div>

        <div class="inl-bl">
          Fill background with:
          <div id="bg-color"></div>
          <div class="switch center-align">
            <label>
              Off
              <input type="checkbox" id="bg-switch">
              <span class="lever"></span>
              On
            </label>
          </div>
        </div>

      </li>

      <li class="controls">
      </li>

      <li class="center-align">
        <a id="add" class="btn-floating btn-large waves-effect waves-light teal"><i class="material-icons">add</i></a>
      </li>

    </ul>

  </header>

  <main>

    <div id="content">
    </div>

  </main>

  <div class="loader center-align">Converting...</div>

  <!--JavaScript -->
  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/bower_components/sweetalert/dist/sweetalert.min.js"></script>
  <script type="text/javascript" src="/bower_components/materialize/dist/js/materialize.min.js"></script>
  <script type="text/javascript" src="/bower_components/nouislider/distribute/nouislider.min.js"></script>
  <script type="text/javascript" src="/bower_components/materialize-colorpicker/dist/js/materialize-colorpicker.min.js"></script>
  <script type="text/javascript" src="/bower_components/cryptojslib/rollups/md5.js"></script>
  <script type="text/javascript" src="/bower_components/slimScroll/jquery.slimscroll.min.js"></script>
  <script type="text/javascript" src="/javascripts/colorPanel.js"></script>
  <script type="text/javascript" src="/javascripts/image.js"></script>
  <script type="text/javascript" src="/javascripts/controls.js"></script>
  <script type="text/javascript" src="/javascripts/custom.js"></script>

  </body>
</html>
