.nav-wrapper > ul > li:hover {
  background-color: #00695c;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.inl-bl {
  display: inline-block;
}

header, main, footer {
  padding-left: 322px;
}

@media (max-width : 992px) {
  header, main, footer {
    padding-left: 0; } }

#content {
  padding-left: 10px;
  padding-right: 10px;
}
