.filling-color {
  min-width: 144px;
}

.sliders {
  margin: 5px;
  height: 200px;
}

.red {
  background: #f44336;
}

.green {
  background: #4caf50;
}

.blue {
  background: #2196f3;
}

.alpha {
  background: #eee;
}

.fill-controls {
  margin: 2px;
  padding: 5px;
}

input[type="text"]{
  width: 28px;
}
