.sliders {
  height: 8px;
  width: 166px;
  margin-left: 15px;
  margin-right: 15px;
}

.red {
  background: #f44336;
}

.green {
  background: #4caf50;
}

.blue {
  background: #2196f3;
}

.alpha {
  background: #eee;
}

input[type="text"]{
  width: 24px;
  height: 20px;
}

.noUi-horizontal .noUi-handle {
  height: 18px;
}

.noUi-horizontal .noUi-handle:after, .noUi-horizontal .noUi-handle:before {
  height: 6px;
}

.padding-remove-button {
  padding-bottom: 10px !important;
}

.control-row {
  margin-bottom: -25px;
}

.remove-rgba, #add {
  height: 55.5px !important;
  padding: 0 !important;
  margin: auto !important;
}
